@use "./theme.scss" as *;

body {
    background-color: $background-color;
    color: $text-color;
}

@mixin basic-text {
    font-family: 'Courier New', Courier, monospace;
    color: $text-color;
    // user-select: none;
}

#title {
    font-size: 5em;
    text-align: center;
    @include basic-text
}