@use "index.scss" as *;
@use "theme.scss" as *;

body {
    overflow: hidden;
}

.choices-question {
    color: $text-color;
    text-align: center;
    font-size: 2.5em;
    margin-top: 5%;
    @include basic-text;

    transition: scale .5s;

    &:hover {
        scale: 1.1;
    }
}

.choice-box {
    display: flex;
    flex: 1;
    margin-top: 5%;
    align-items: center;justify-content: center;
}

@keyframes choice-button-expand-effect {
    from {
        opacity: 100%;
        scale: 1;
    }

    to {
        opacity: 0%;
        scale: 1.5;
    }
}

@keyframes choice-button-spawn {
    from {
        scale: .1;
    }

    to {
        scale: 1;
    }
}

@keyframes choice-button-click {
    from {
        scale: 1;
    }

    from {
        scale: 1.2;
    }

    to {
        scale: 1;
    }
}

.choice-button-effect {
    position: absolute;
    width: 15vw;
    scale: 1.5;
    aspect-ratio: 1.25;
    animation-name: choice-button-expand-effect;
    animation-duration: .25s;

    border-color: aqua;
    border-style: solid;
    border-width: 10px;
    border-radius: 10%;
    opacity: 0%;
    top: 0%;
    // background-color: red;
}

.choice-button {
    width: 15vw;
    aspect-ratio: 1.25;
    margin: 1%;
    background-color: rgb(58, 67, 97);
    border-radius: 10%;

    align-items: center;justify-content: center;

    transition: scale .5s;

    animation-name: choice-button-spawn;
    animation-duration: .25s;

    &:hover {
        scale: 1.1;
    }

    &.choice-button-click {
        animation: choice-button-click .25s;
    }
}

.choice-text {
    display:flex;justify-content:center;align-items:center;
    height: 100%;
    font-size: 2em;
    @include basic-text;
    user-select: none;
}

.score {
    @include basic-text;
    position: absolute;
    top: 1em;
    left: 1em;
    font-size: 2.5em;

    transition: scale .5s;

    &:hover {
        scale: 1.1;
    }
}